@model ForgetPasswordViewModel
@{
    Layout = null;
}
<link href="c:\users\h-a-m\source\repos\traversalcoreproje\traversalcoreproje\wwwroot\lib\bootstrap\dist\css\bootstrap.css" rel="stylesheet" />

<div class="container">
<h2>Şifre Yenileme Sayfası</h2>
<form method="post">
    <label>Mail Adresinizi Giriniz:</label><br />
    <input type="text" class="form-control" asp-for="Mail"/>
    <br />
    <button class="btn btn-outline-success">Şifre Yenileme Bağlantısı Gönder</button>
</form>
</div>