@model CreateGuideCommand
@{
    ViewData["Title"] = "CreateGuide";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h1>Yeni Rehber CQRS</h1>

<form method="post" class="form-control">
    <label>Rehber Adı</label>
    <input type="text" asp-for="Name" class="form-control"/>
    <br />
    <label>Açıklama</label>
    <input type="text" asp-for="Description" class="form-control"/>
    <br /> 
    <button class="btn btn-outline-primary">Rehberi Ekle</button>
</form>
