<div class="col-xl-4 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="heading-multiple-thumbnails">Profil Bilgileri</h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
        </div>
        <div class="card-content">
            <div class="card-body">
                <p>Traversal Rez....</p>
                <h4 class="card-title">....</h4>
                <h6>sayı:#</h6>
                <h6>sayı:#</h6>
                <h6>sayı:#</h6>
                <h6>sayı:#</h6>
                <h6>sayı:#</h6>
                <h6>sayı:#</h6>
            </div>
        </div>
    </div>
</div>
