
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<h1>Excel Raporları</h1>

<a href="/Admin/Excel/DestinationExcelReport/" class="btn btn-outline-danger">Tur Rotaları Excel Raporunu İndir</a>

