
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h1>Excel Raporları</h1>

<a href="/Excel/DestinationExcelReport" class="btn btn-outline-danger">Tur Rotaları Excel Raporunu İndir</a>

