@model VisitorViewModel
@{
    ViewData["Title"] = "CreateVisitor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Api Ziyaretçi Ekleme</h1>

<form method="post" class="form-control">
    <label>Ziyaretçi Adı</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />
    <label>Ziyaretçi Soyadı</label>
    <input type="text" asp-for="Surname" class="form-control" />
    <br />
    <label>Ziyaretçi Mail Adresi</label>
    <input type="text" asp-for="Mail" class="form-control" />
    <br />
    <label>Ziyaretçi Şehri</label>
    <input type="text" asp-for="City" class="form-control" />
    <br />
    <label>Ziyaretçi Ülkesi</label>
    <input type="text" asp-for="Country" class="form-control" />
    <br />
    <button class="btn btn-outline-primary">Ziyaretçi Ekle</button>
</form>
